.container {
    padding: 0;
}

#main-jumbotron{
    background-image: url("../img/pizza.png");
    background-size: cover;
    background-position: center;
}

#main-jumbotron h1 {
    text-align: center;
    color: rgba(0,0,0,.6);
    background-color: rgba(255,255,255,.5)
}

/* classes .d-none .d-sm-block hide content on extra small screens*/
.d-none {
}
.d-sm-block {
}

/* classes .d-sm-none .d-md-block hides on small screens */
.d-sm-none {
}
.d-md-block {
}

.badge-pill {
    border-radius: 1em;
}
.card {
    border: solid black 1px;
}
.card-body {
    margin: 1em;
}

.card-deck {
    flex-direction: column;
    padding: 1em;
}
