* {
    box-sizing: border-box;
    background: white;
    margin: 0;
}
/*main container for the page*/
.wrapper {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 5fr 2fr;
    grid-template-rows: 40px 75% 1fr 1fr;
    grid-template-areas:
                    "nav-bar nav-bar nav-bar"
                    "menu-bar content ads"
                    "menu-bar pages pages"
                    "menu-bar foot foot";
}

/*3 nav-bar elements below place and adjust the navigation bar at top of page*/
#nav-bar{
    grid-area: nav-bar;
}

#nav-bar a {
    background-color: #111111;
    color: white;
    text-decoration: none;
}
/*applies styling when hovering over links in the navigation bar at the top of page*/
#nav-bar a:hover {
    color: blue;
    background-color: white;
    padding: 1em;
}

#menu-bar {
    grid-area: menu-bar;
    background-color: rgb(240,240,240);
}

#content {
    grid-area: content;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

#content-row1{
    padding: 20px;
    grid-area: 1/1  /2/-1;
}

#content-row2{
    padding: 20px;
    grid-area: 2/1  / 3/-1;
}

#content-row3{
    padding: 20px;
    grid-area: 3/1  / 4/-1;
}

#content h2{
    padding: 0 0 20px 0;
}

#ads {
    grid-area: ads;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.ads-row {
    background-color: white;
}

.small-box {
    text-align: center;
    margin: 1em;
    padding: 11px;
    border: 1px solid lightgray;
}

.big-box {
    text-align: center;
    margin: 1em;
    padding: 33px;
    border: 1px solid lightgray;
}

#page-nav {
    grid-area: pages;
    text-align: center;
}

#page-nav ul {
    padding: 0 40%;
    list-style: none;
    display: flex;
    justify-content: space-around;
}

#page-nav li a {
    padding: 15px;
    text-decoration: none;
}

#page-nav a:hover {
    background-color: black;
    color: white;
}

#foot {
    grid-area: foot;
    color: white;
    padding: 10px;
    background-color: rgb(102,102,102);
}

#nav-bar ul {
    padding-left: 100px;
    background-color: #111111;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#nav-bar li{
    border: none;
    padding: 10px;
    color: white;
    background-color: black;
    margin: 1px;
}

/* the 5 menu-bar elements below are used to adjust the styling of the side menu bar*/
#menu-bar li{
    background-color: rgb(240,240,240);
    padding: 10px;
}

#menu-bar h3{
    background-color: rgb(240,240,240);
}

#menu-bar ul {
    list-style: none;
    background-color: rgb(240,240,240);
    padding: 10px;
}

#menu-bar li a {
    background-color: rgb(240,240,240);
    text-decoration: none;
}
/*styling when hovering over links on menu side bar*/
#menu-bar a:hover {
    background-color: rgb(240,240,240);
    text-decoration: none;
    font-size: x-large;
    color: darkgreen;
}

/*the 2 elements below are used to place and adjust Logo*/
#nav-bar ul li.logo{
}

.logo {
    background-color: #111111;
    font-size: 2em;
    color: white;
    margin-left: 20px;
    position: absolute;
    height: inherit;
    width: 70px;
}