h1 {
    color: red;
}

.rectangle-left {

    height: 202px;
    width: 120px;
    border: solid black 1px;
    background-color: darkblue;
    border-top: none;

}
.rectangle-top {
    height: 100px;
    width: 200px;
    border: solid black 1px;
    background-color: white;
    position: relative;
    left: 120px;

}

.rectangle-bottom {
    height: 99px;
    width: 200px;
    border: solid black 1px;
    background-color: red;
    position: relative;
    left: 120px;


}