h1 {
    color: red;
}

/* vertical rectangle on the left which will hold the star */
.rectangle-left {

    height: 202px;
    width: 120px;
    border: solid black 1px;
    background-color: darkblue;
    border-top: none;

}

/* white  horizontal rectangle that makes up top part of flag */
.rectangle-top {
    height: 100px;
    width: 200px;
    border: solid black 1px;
    background-color: white;
    position: relative;
    left: 120px;
}
/* red  horizontal rectangle that makes up bottom part of flag */
.rectangle-bottom {
    height: 99px;
    width: 200px;
    border: solid black 1px;
    background-color: red;
    position: relative;
    left: 120px;
}